


    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= @user.errors.count %> fel inträffade:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions">
        <%= f.label :first_name, "Förnamn" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Efternamn" %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password, "Lösenord" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Bekräfta lösenord" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Registrera", class:"btn btn-register btn-default "%>
      </div>
    <% end %>
