

<h1>Alla anv채ndare</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Anv채ndare</th>
      <th>Antal Api</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.first_name + user.last_name%>
      </td>
      <td>
        <%= user.apis.count %>
      </td>
      <td> <%= if is_admin?(user) then
                 'Ja'
               else 'Nej'
               end %></td>
      <td><%= link_to 'Visa anv채ndare', user %></td>
      <td><%= link_to 'Radera anv채ndare', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>



    <% end %>
  </tbody>
</table>

<br>

