
  <%= form_for(:session, url: developer_login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "Lösenord" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Logga in", class: "btn btn-register btn-default" %>
  <% end %>

  <p>Ny användare? <%= link_to "Gå till Registrera", developer_register_path %></p>
